<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" href="/default/css/shared_rev.REVISION.css" type="text/css" media="screen" />
<!--[if lte IE 6]><link rel="stylesheet" type="text/css" media="screen" href="/default/css/ie6.css" /><![endif]-->
<!--[if gte IE 7]><link rel="stylesheet" type="text/css" media="screen" href="/default/css/ie7.css" /><![endif]-->

<meta http-equiv="content-language" content="en" />

<meta name="author" content="Content with Style" />
<meta name="copyright" content="Content with Style" />
<meta name="publisher" content="Content with Style" />

<meta name="robots" content="all" />
<meta name="revisit-after" content="2 days" />

<link rel="alternate" type="rss" href="/atom.xml" />
<link rel="shortcut icon" type="image/ico" href="/favicon.ico" />

<title>Content with Style{% if page.title %} - {{page.title}}{% endif %}</title>


