---
layout: default
title: false
---


<div class="article">
    {% for post in site.posts offset: 0 limit: 1 %}{% include article_teaser.html %}{% endfor %}
</div>    

<div class="row clearfix">
    <div class="article left">
        {% for post in site.posts offset: 1 limit: 1 %}{% include article_teaser.html %}{% endfor %}
    </div>    

    <div class="article right">
        {% for post in site.posts offset: 2 limit: 1 %}{% include article_teaser.html %}{% endfor %}
    </div>    
</div>

<div class="row clearfix">
    <div class="article left">
        {% for post in site.posts offset: 3 limit: 1 %}{% include article_teaser.html %}{% endfor %}
    </div>    

    <div class="article right">
        {% for post in site.posts offset: 4 limit: 1 %}{% include article_teaser.html %}{% endfor %}
    </div>    
</div>